
ul {
    list-style: none;
}
li a{
    float: left;
    /* border: 1px solid; */
    margin: 1px;
    padding: 2px;
    color:red; 
    filter: blur(1.5px);
    
}
li a:hover {
    filter: blur(0px);
}

.gallery img {
    filter: blur(2px) grayscale(1);
}

.gallery img:hover{
    filter: blur(0px);
}