

.navbar{
    position: sticky;
    top: 10px;
}
ul {
    list-style: none;
    
}
li a{
    float: left;
    /* border: 1px solid; */
    margin: 1px;
    padding: 2px;
    color: white; 
    /* filter: blur(1.5px); */
    background-color:gray;
}
li a:hover {
    filter: blur(0px);
}

.gallery img {
    filter: blur(2px) grayscale(1);
}

.gallery img:hover{
    filter: blur(0px);
}

p {
    width: 300px;
}